.about {
    width: 100%;
    margin: 1rem 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.about .top{
    text-align: center;
    margin: auto;
    padding: 1rem;
    max-width: 70%;
}

.about .top p{
    margin: 1.2rem 0;
}


.about .bottom h1{
    text-align: center;
    margin: auto;
    padding: 1rem;
}

.about .bottom p{
    text-align: center;
    margin: 0 3rem;
    padding: 1rem;
}